#post{
    padding: 0 2em;
    margin-bottom: 4em;
}

.post-footer .post-author{
    position: relative;
    margin-top: 4em;
    background-color: var(--light);
}

.post-footer .post-author::after{
    background-color: white;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    z-index: 0;
}

.post-footer .post-author .author-avatar{
    margin: 0 auto 1em;
    position: inherit;
    z-index: 1;
}

.post-footer .post-comments .reply{
    padding-left: 7em;
}

.form-control{
    width: 100%;
    border: 2px solid var(--border);
    padding: 1em;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
}
