nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #8bb355;
    font-weight: 400;

}

.logo {
    color: white;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 20px;
    position: absolute;
    left: 20px;
}

.width {
    width:10rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 80%;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    font-size: 14px;
    padding: 5px;
}

.nav-links a:hover {
    border-bottom: 3px solid white;
    border-radius: 5px;
}

.burger .line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.burger {
    display: none;
}

.nav-links li {
    list-style: none;
    margin-right: 0.4rem;
}

.sub-nav-links {
    position: absolute;
    top: 5vh;
    background-color: teal;
    padding: 20px;
    display: none;
    width: 180px;
    height: auto;
    z-index:30;
}

.sub-nav-links li {
    padding: 5px;
}

.nav-links li:hover .sub-nav-links {
    display: block;
}

.logo{
    span{
        font-weight: 400;
        font-family: var(--font-logo);
    }
}

.logo-link{
    font-size:32px;
    line-height: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-register{
    position: absolute;
    top:0;
    right:0;
    margin:7px;
}

.register{
    text-decoration: none;
    margin:8px;

    &:hover{
        color: var(--primary-color)!important;
    }
}


.toggle-items{
    list-style: none;
    background-color:white;
    width:100%;
    line-height:47px;
    position: absolute;
    display: none;
    border-radius: 5px;
    z-index: 400;
    padding: 8px 15px;

    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.show {
    display: block;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    nav {
        display: block;
        line-height: 8vh;

    }

    .logo {
        top: 2.3rem;
    }

    .nav-links {
        height: 100vh;
        /*top: 8vh;*/
        background-color: #008080;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translatey(-100%);
        transition: all 0.5s ease-in-out;
        overflow-x: hidden;
        z-index:30;
    }

    .burger {
        display: block;
        position: absolute;
        top: 2.3rem;
        right: 5px;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .sub-nav-links {
        display: none;
    }
}

@media screen and (max-width:953px) {

    .menu-register{
        top:20px;
    }
}

@media screen and (min-width:953px) {

    .menu-register{
        right: 50px;
    }

}

