.back-menu{
    width: 100%;
    height:120px;
    background-color: white;
    margin:0;
    color: var(--dark);
}

.back-menu-center{
    width: 100%;
    height:100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.logo{
    //width:22%;
    //height:100%;
    //left:0;
    //overflow: hidden;
    //display: flex;

    span{
        font-weight: 400;
        font-family: var(--font-logo);
    }
}

.logo-link{
    font-size:32px;
    line-height: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-items{
    /* height:70px; */
    width: 100%;
    align-items: center;
    display: flex;
    top: 50px;
    position: relative;

    ul{
        list-style: none;
        display: flex;
    }
}

li[class^="menu-item-"] a{
    margin:12px 22px;
    text-decoration: none;
    font-weight: 600;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

li[class^="item-"] a:hover{
    color: var(--primary-color)!important;
}

//.item a{
//    color: var(--dark)!important;
//}

.menu-register{
    position: absolute;
    top:0;
    right:0;
    margin:7px;
}

.register{
    text-decoration: none;
    margin:8px;

    &:hover{
        color: var(--primary-color)!important;
    }
}

.toggle-icon{
    font-size:30px;
    padding:10px;
    border-radius: 3px;
    cursor: pointer;
}
.toggle-items{
    list-style: none;
    background-color:white;
    width:100%;
    line-height:47px;
    position: absolute;
    display: none;
    border-radius: 5px;
    z-index: 400;
    padding: 8px 15px;

    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

//li[class^="toggle-item-"] a{
//    text-decoration: none;
//    font-weight: lighter;
//}

li[class^="toggle-item-"] a:hover{
    color: var(--primary-color)!important;
}

.toggle-item-1 a{
    color:var(--dark)!important;
}

//#toggle-btn{
//    display: none;
//}
//
//#toggle-btn:checked +ul{
//    display: block;
//}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    font-weight: 700;
    color: var(--dark);
}

.dropdown {
    position: relative;
    display: inline-block;

    a{
        &:hover{
            background-color:var(--primary-color);
            color: white;
        }

        &:first-child:hover{
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }

        &:last-child:hover{
            border-bottom-left-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
    }
}

.dropdown-content {
    display: none;
    z-index: 1;

    a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}

.show {display: block;}

/* Submenu up from mobile screens */
/* .submenu {
    display: none;
}
 */
.submenu-active .submenu {
    display: block;
    padding: 5px;
}

.has-submenu{
    a{
        font-size: 16px;
        font-weight: 400;
    }

    i {
        font-size: 12px;
    }
}

.subitem a {
    padding: 10px 15px;
    color: white;
}

.submenu-active {
    background-color: var(--dark);
    border-radius: 3px;
}

.submenu {
    list-style-type: none;
}

@media screen and (max-width:953px) {
    .back-menu{
        height: 80px;
    }

    .menu-register{
        top:25px;
    }
}

@media screen and (min-width:953px) {
    .toggle{
        display: none !important;
    }

    .logo-link{
        line-height: 18px;
    }

    .menu{
        display: block;
    }

    .menu-register{
        right: 50px;
    }

}

