:root{
    --light : #f8f9fa;
    --secondary: #adb5bd;
    --dark: #222831;
    --primary-color: #8bb355;
    --secondary-color: #d6403f;
    --border : #e9ecef;
    --title:#15454f;
    //Police d'ecriture
    --font-primary: 'Lora', serif;
    --font-secondary: 'Montserrat', sans-serif;
    --font-logo: 'Yesteryear',cursive;
}



